body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.w-100px {
  width: 100px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.font-bold {
  font-weight: bold;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.container {
  padding: 2rem;
}

.bg-yellow {
  background-color: yellow;
}

.card {
  padding: 2rem;
  border-radius: 25px;
  border: 1px solid black;
}
